<!DOCTYPE html>
<hrml>
<head>
    <title>Grant-Access</title>
</head>
<body>
    <p>Successful</p>
    <ul>
        {% for item in successful %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <p>Unsuccessful</p>
    <ul>
        {% for item in unsuccessful %}
        <li>{{item[0]}} ({{item[1]}})</li>
        {% endfor %}
    </ul>
    <p>sharing quota will be reset evryday at 1:30 pm sri lankan time.</p>
    <p><a href="https://drive.google.com/drive/folders/1EcXcXXltAJ-t_mhOtk4Kfb-rtAtSywtC?usp=sharing">Access Folder Link</a></p>
</body>
</html>